# Core Django dependencies
Django==4.2.10
djangorestframework==3.14.0
python-dotenv==1.0.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0

# API documentation
drf-spectacular==0.26.5

# Authentication
djangorestframework-simplejwt==5.3.1

# Testing
coverage==7.3.2
pytest==7.4.3
pytest-django==4.7.0

# Serving
gunicorn==21.2.0
whitenoise==6.6.0

# Development tools
django-debug-toolbar==4.2.0
pre-commit==3.5.0

# Utilities
Pillow==10.1.0
django-filter==23.3
django-cors-headers==4.3.1
django-extensions==3.2.3

# Caching
django-redis==5.4.0